* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
    font-family: var(--font-family);
    color: var(--dark-color);
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h1 {
    text-align: center
}

ol {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
}

li:nth-child(6n + 1) {
    --accent-color: #b8df4e
}

li:nth-child(6n + 2) {
    --accent-color: #4cbccb
}

li:nth-child(6n + 3) {
    --accent-color: #7197d3
}

li:nth-child(6n + 4) {
    --accent-color: #ae78cb
}

ol li {
    counter-increment: stepnr;
    width: 18rem;
    --borderS: 2rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(var(--borderS) + 2rem);
    position: relative;
}

ol li::before,
ol li::after {
    inset: 0;
    position: absolute;
    border-radius: 50%;
    border: var(--borderS) solid var(--bgColor);
    line-height: 1.1;
}

ol li::before {
    content: counter(stepnr);
    color: var(--accent-color);
    padding-left: 10rem;
    font-size: 12rem;
    font-weight: 700;
    overflow: hidden;
}

ol li>* {
    width: 7.5rem
}

ol li .title {
    font-size: 2rem;
    font-weight: 500
}

ol li .descr {
    font-size: 0.9rem;
    font-weight: 300
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.image {
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-image: url("/static/media/station.jpg") no-repeat cover cover;
}

.card-body {
    background-color: transparent;
}

.overlay__inner {
    width: 100%;
    max-width: 1140px;
    max-height: 640px;
    padding: 8rem 16rem;
    display: flex;
    align-items: center;
    background: #F1CDDF;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.round-button:hover,
.round-button.active {
    color: var(--round-button-active-color);
}

.round-button svg {
    pointer-events: none;
    height: 2.8rem;
    width: 2.8rem;
    transform: translate(0, 0);
}

.card {
    background: rgba(255, 255, 255, 0.375);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-right: 0.15rem;
    margin-bottom: 1.5rem;
}

.offcanvas {
    background-color: transparent;
}

#random {
    background-size: cover;
    height: 50%;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 2px 2px 2px red;
}

.descr {
    font-size: 19px;
}

.all {
    display: flex;
    justify-content: space-between;
}