<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <!-- Canvas -->

        <!-- Overlay -->
        <div class="overlay" id="random" class="min-vh-75" style="background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;;">

            <!-- Overlay inner wrapper -->
            <div class="overlay__inner">


                <!-- Title -->
                <h1 class="overlay__title">
                    Get your Web Application Project Reviewed & Rated Here!

                </h1>
                <!-- Description -->
                <p class="overlay__description">
                    View posted projects and their details👁️‍🗨️ Post a project to be rated/reviewed🆙 Rate/ review other users' projects👍 Search for projects 👓View projects overall score 👀View my profile page
                    <strong>SignUp to get started</strong>
                </p>
                <!-- Buttons -->
                <div class="overlay__btns">


                    <a href="/accounts/register" target="_blank"><button class="overlay__btn"></button>

        </button> Signup
        </a>




                    <a href="/accounts/login" target="_blank"> <button class="overlay__btn"></button>

                        </button> Login
                    </a>

                </div>
            </div>
        </div>
        <script src="/app.js"></script>
</body>

</html>

   
       