<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Document</title>
</head>

<body>
    <div class="container">
        <!-- Canvas -->

        <!-- Overlay -->


        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">


            <!-- Title -->
            <h1 class="overlay__title">
                Welcome to Awards website where you can get your web applications rated

            </h1>
            <!-- Description -->
            <p class="overlay__description">
                Hey there make sure to Sign up and get to experience the best out of this Web app. Make sure to post a
                project, rate a project and also view the projects overall score.

            </p>
            <!-- Buttons -->
            <div class="overlay__btns">


                <a href="/accounts/register" target="_blank"><button class="overlay__btn"></button>

                    </button> Signup
                </a>

                <!-- <a href="/accounts/register" target="_blank"><button class="btn btn-secondary"></button>Dont have an account?</a> -->





                <a href="/accounts/login" target="_blank"> <button class="overlay__btn"></button>

                    </button> Login
                </a>

            </div>








</body>

</html>