{%extends 'base.html'%}

{% block content %}

{{block.super}}
<div class="container">

    

{{block.super}}
    <div class="row">
        {% for project in posts %}
            <div style="border-radius: 10px;" class="col-md-4 card">
                <div class="project" style="margin-top: 10px; margin-bottom: 10px; border-radius: 20px;">
                    <a href="">
                    <img src="{{project.image.url}}" data-target="#imageModal{{project.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachimage" style="border-radius: 10px; height: 50vh; width: 100%; margin-top: 10px; margin-bottom: 10px;"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-text">{{project.user}}</p>
                        <p class="card-text">{{project.description}}</p>
                        <p class="card-text">{{project.link}}</p>
                    </div>
                </div>
            </div>

        {% endfor %}




    </div>

</div>
{% endblock %}