{% extends 'base.html' %} 
{% load bootstrap5 %} 
{% block content %} 
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="my-4">UPDATE PROFILE</h4>
                <form action="{%url 'updateprofile'%}" method="post" enctype="multipart/form-data" class="m-4">
                    {%csrf_token%} {% bootstrap_form profileform%}
                    <input type="submit" class="btn btn-primary btn-sm mb-4" value="Update Profile">
                </form>
            </div>
        </div>
    </div>
    {{ form.media }}
 {% endblock %}